{% extends 'base.html' %}

{% block head %}
{% endblock head%}

{% block body %}
<div class="about-section paddingTB60 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <div class="about-title clearfix">
                    <h1>About</h1>
                    <h3>Lorem ipsum dolor sit amet </h3>
                    <p class="about-paddingB">This webapp was created to notify individuals via email when the NC Wildlife Resources Commission stocks trout within its Public Mountain Trout Waters program.</p>
                    <p>Simply select they counties you would like notifications for, or select them all and enter your E-mail to sign up.</p>
           
                </div>
            </div>
            	
        </div>
    </div>
</div>
{% endblock body %}