{% extends 'base.html' %}

{% block head %}
{% endblock head%}

{% block body %}
<script>
  function selectAllCheckbox(select_all_box) {
    let checkboxes = document.getElementsByTagName("input");
    if (select_all_box.checked){
      for(let i = 0; i < checkboxes.length ; i++) {
        checkboxes[i].checked = true;
      }
    }
    else{
      for(let i = 0; i < checkboxes.length ; i++) {
        checkboxes[i].checked = false;
      }
    }
  }
</script>

<div class="flash_container">
  {% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        <span>{{ message }}</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>

<div class="container-sm home-form text-dark border border-dark rounded-3 mt-5 w-25 mb-3 shadow p-3 mb-5">
  <form method='POST' action='/process-data' class="needs-validation" novalidate> 
    <div class="form-group">
      <fieldset>
          <legend class = "text-center text-truncate ">Sign Up!</legend>
          <p class="text-center border-bottom"><small>Simply select the counties you would like notifications for and enter your E-mail to receive stocking alerts.</small></p>
          
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{county}}" id="flexCheckDefault"
              onclick="selectAllCheckbox(this)" autocomplete="off">
            <label class="form-check-label" for="flexCheckDefault">
              Select All
            </label>
          </div>
        
          {% for county in counties %}
          <div class="form-check">
            <input class="form-check-input" name="counties" type="checkbox" value="{{county}}" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              {{county}}
            </label>
          </div>
          {% endfor %}
          
          <div class="input-group pt-1 pb-2 ">
            <span class="input-group-text" id="basic-addon1">Email</span>
            <input type="text" class="form-control" name="email" placeholder="Enter a valid E-mail here" aria-label="Email"
              aria-describedby="basic-addon1" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
            <div class="invalid-feedback text-center">
              Please enter a vaild email.
            </div>
          </div>
            
          <button type="submit" class="btn btn-primary w-100 pb-2 mb-3">Submit</button>
        </fieldset>
      </div>
    </form>
</div>
<script>
   var forms = document.querySelectorAll('.needs-validation');

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
  .forEach(function (form) {
      form.addEventListener('submit', function (event) {
      if (!form.checkValidity()) {
          event.preventDefault();
          event.stopPropagation();
      }

      form.classList.add('was-validated');
      }, false);
  });
</script>
{% endblock body %}