{% extends 'base.html' %}

{% block head %}
{% endblock head%}

{% block body %}
<script>
  function selectAllCheckbox(select_all_box) {
    let checkboxes = document.getElementsByTagName("input");
    if (select_all_box.checked){
      for(let i = 0; i < checkboxes.length ; i++) {
        checkboxes[i].checked = true;
      }
    }
    else{
      for(let i = 0; i < checkboxes.length ; i++) {
        checkboxes[i].checked = false;
      }
    }
  }

  
</script>
<div class="flash_container">
  {% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        <span>{{ message }}</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
</div>
<div class="container-sm bg-light text-dark border border-dark rounded-1 mt-1 ">
  
  <form method='POST' action='/process-data'> 
    <div class="form-group">
      <fieldset>
        <legend>Select counties</legend>
        
        
          {% for county in counties %}
          
          <div class="form-check">
            <input class="form-check-input" name="counties" type="checkbox" value="{{county}}" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              {{county}}
            </label>
          </div>
          {% endfor %}
        
          
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="{{county}}" id="flexCheckDefault"
              onclick="selectAllCheckbox(this)" autocomplete="off">
            <label class="form-check-label" for="flexCheckDefault">
              Select All
            </label>
          </div>
          
          
          <div class="input-group pt-1 pb-2 w-50">
            <span class="input-group-text" id="basic-addon1">Email</span>
            <input type="text" class="form-control" name="email" placeholder="Enter your E-mail here" aria-label="Email"
              aria-describedby="basic-addon1" required>
          </div>
          
          
        </div>
        <button type="submit" class="btn btn-primary pt-1 pb-2">Submit</button>
        
      </fieldset>
    </div>
  </form>
</div>
      

{% endblock body %}