{% extends 'base.html' %}

{% block head %}
{% endblock head %}
{% block body%}

<div class="container-fluid submitsuccess-bg ">
    <section id="cover" class="min-vh-100 ">
        <div class="row pt-4 pb-4">  
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto p-4">
                <div class="card mx-auto card-bg">
                    <div class="card-header text-center font-weight-bold"><h4>Success!</h4></div>
                    <img class="card-img-top h-100" src="/static/images/trout4.jpg" >
                    <div class="card-body">
                    <p class="card-text text-center">{{email_query.email}} {{message}}</p>
                        <div class="contianer d-flex justify-content-center">
                            <ul class="list-group list-group-flush border border-dark rounded-1 mt-1  mb-3 list-container">
                                <li class= "list-group-item list-group-item-secondary text-center"><strong>Counties Selected</strong></li>
                                {% for county in counties_confirmed%}
                                    <li class="list-group-item">{{county.county_name}}</li>
                                {%endfor%}
                            </ul> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock body %}