{% extends 'base.html' %}

{% block head %}
{% endblock head %}
{% block body%}
<form method='POST' action="/unsubscribe"> 
    <fieldset>      
        <legend>Unsubscribe</legend> 
        <br>
        <label for="email">Enter your email:</label>
        <input type="email" id="email" name="email" required>
        <br>      
        <input type="submit" name ="submit" value="Submit" >
        <br>
        <p>{{message}}</p>
    </fieldset>      
</form>
<br>
<a href="{{ url_for('home') }}"><button>Back</button></a>
{% endblock body %}