
body {
	background-image: url("/static/images/troutbackground2.jpg"); 
	background-color: #d8d8d8; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size:  cover;
	
}
.submitsuccess-bg{
	background: rgba(0,0,0,0.5);	
	background-size:  cover;
}
.unsub-container {
	background-color: rgba(255, 255, 255, .9);
	border-radius: 15px;
}

.card-bg{
	background-color: rgba(255, 255, 255, .9);
	border-radius: 15px;
}

.home-form {
	background-color: rgba(255, 255, 255, 0.92);
  	border-radius: 15px;	
}

.list-container{
	display: inline-block;
}
.submit-container {
	background-color: rgba(255, 255, 255, 0.9);
  	border-radius: 15px;
	width: 35%;
}

.about-container{
	background-color: rgba(255, 255, 255, 0.9);
  	border-radius: 10px;
}

.ncwrc-link{
	text-decoration: none;
}
.attributions{
	font-size: 12px;
}

input {
    -webkit-user-select: text; /* Chrome, Opera, Safari */
    -moz-user-select: text; /* Firefox 2+ */
    -ms-user-select: text; /* IE 10+ */
    user-select: text; /* Standard syntax */
}

.nav-link:hover {
	border-top: 3px solid white;
	border-bottom: 3px solid white;
   }

 /* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
	.nav-logo{
		width: 100%;
		height: 100%;
	}
	.navbar-brand{
		width: 70%;
	}
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
	
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

 }

/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {

}
