
body {
	background-image: url("/static/images/troutbackground2.jpg"); 
	background-color: #d8d8d8; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size:  cover;
	
}

.submitsuccess-bg{
	background: rgba(0,0,0,0.5);	
}
.unsub-container {
	background-color: rgba(255, 255, 255, .9);
	border-radius: 15px;
}

.card-bg{
	background-color: rgba(255, 255, 255, .9);
	border-radius: 15px;
}

.home-form {
	background-color: rgba(255, 255, 255, 0.92);
  	border-radius: 15px;	
}

.list-container{
	display:inline-block;
}
.submit-container {
	background-color: rgba(255, 255, 255, 0.9);
  	border-radius: 15px;
	width: 35%;
}

.about-container{
	background-color: rgba(255, 255, 255, 0.9);
  	border-radius: 10px;
}

.ncwrc-link{
	text-decoration: none;
}